.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


.gallery-container img {
    max-width: 500px;
    max-height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.button-container {
    margin-top: 20px;
}

.search-container {
    margin-top:20px;
    gap: 10px;
}

#searchInput {
    width: 200px;
    height: 20px;
    font-size: 18px;
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b4;
}